<div fxLayout="column" class="container">
    <div fxFill *ngIf="job">

        <!--
        <mat-accordion *ngFor="let stage of job.pipeline.pipeline.stages; trackBy: trackStage">
            <mat-card>
                {{ stage.name }}
            </mat-card>
            <p></p>

            <mat-expansion-panel *ngFor="let task of stage.tasks; trackBy: trackTask">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ task.name }}
                    </mat-panel-title>
                    <mat-panel-description>
                        ({{ task.progress }}%)
                    </mat-panel-description>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

        </mat-accordion>
        -->

        <app-console [messages]="messages"></app-console>

    </div>
</div>