<div class="container" *ngIf="pipeline">

    <form *ngIf="parameters" [formGroup]="parameters">
        <div *ngFor="let param of pipeline.pipeline?.parameters">
            <mat-form-field appearance="fill">
                <mat-label>{{ param }}</mat-label>
                <input matInput [formControlName]="param">
            </mat-form-field>
            <br>
        </div>
    </form>

    <button mat-flat-button (click)="execute()">Execute</button>
    <button mat-flat-button (click)="close()">Cancel</button>

</div>
