.console
    color: white
    background-color: black
    border: solid 1px grey
    overflow-y: scroll

.line
    font-family: "Droid Sans Mono", "monospace", monospace, "Droid Sans Fallback"
    font-weight: normal
    font-size: 14px
    line-height: 19px
    letter-spacing: 0px

.number
    text-align: center

.status
    color: green
    font-weight: bold

.error
    color: red

.stdin
    color: green
    font-weight: bold

.stdout
    color: white

.stderr
    color: red
