<div class="details" *ngIf="job">

    <mat-accordion *ngFor="let stage of job.stages; trackBy: trackStage">
        <mat-card>
            {{ stage.name }}
        </mat-card>
        <p></p>

        <mat-expansion-panel *ngFor="let task of stage.tasks; trackBy: trackTask">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ task.name }}
                </mat-panel-title>
                <mat-panel-description>
                    ({{ task.progress }}%)
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-console [messages]="task.stdout"></app-console>
        </mat-expansion-panel>

    </mat-accordion>

</div>